@keyframes fade-bfg {
  from {
    color: #adadad;
  }
  to {
    color: #ffffff;
  }
}

.c-homepage {
  &__text--bfg {
    animation-name: fade-bfg;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    font-weight: 600;
  }
}
